<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLConverter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CLConverter.My.MySettings>
            <setting name="Default_App_WorkingFolder" serializeAs="String">
                <value>D:\Docs</value>
            </setting>
            <setting name="App_Open_OutputFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="App_AutoClean_Folders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_BrowseTo_Folder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="FormDefaultWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormDefaultHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </CLConverter.My.MySettings>
    </userSettings>
</configuration>